// dark mode
$background-color-dark-mode: rgb(32, 32, 35);
$text-color-dark-mode: #fff;
$active-navbar: #88ccca;
$active-navbar-text-color: #000;
$dark-mode-bg-color: #fbd39d;
$dark-mode-bg-color-hover: #f5a844;
$dark-mode-bg-color-menu-bar: #2d3748;
// light mode
$background-color-light-mode: #ffffff40;
$background-color-light-mode-navbar: rgba(255, 255, 255, 0.25);
$text-color-light-mode: #000;
$light-mode-bg-color: #805ad5;
$light-mode-bg-color-hover: #6d3dd3;
$light-mode-bg-color-menu-bar: #2d3748;
$light-mode-border-navbar-icon: #e2e8f0;
$light-mode-menu-bar: $text-color-dark-mode;

$text-logo-color: #f06eaa;
